<ion-view view-title="CSE Department, UIET">
  <ion-content>
	<div class="item">
	<img class="full-image" src="img/courses.png" height="100px">
	<div>
	<div class="card">
	  <div class="item item-divider">
	    </span><span style="font-size:1.0em; color:purple; font-weight: 600; ">COURSES
</span>
	  </div>
	  <div class="item item-text-wrap">
	   B.E in Computer Science & Engineering
<br><br>
Integrated B.E. with MBA 
<br><br>
M.E. in Computer Science & Engineering
<br><br>
Ph.D in Computer Science & Engineering
	  </div>
	</div>
  </ion-content>
</ion-view>
